$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #381703,
    ),
    grey: (
        1:#f0fff0,
    ),
    text: (
        body:#381703,
        1:#f0fff0,
        2:#457c42,
        3: #B7B6C4,
    ),
    theme: (
        primary: #381703,
        secondary: #457c42,
        blue:#2a4825,
        pink: #F72A75,
        sky: #42BFFF,
    ),
    border: (
        primary: #ECEEF3,
        secondary:#D1D6E0,
    ),
    icon:(
        blue:#2a4825,
        blue-light:#E7efFF,
        green: #457c42,
        green-light: #E7FAF6,
        pink: #F72A75,
        pink-light: #FEEAf1,
        sky: #42BFFF,
        sky-light: #ECF9FF,
        red:#FF0000,
        tweet:#1DA1F2,
        fb:#4267B2,
        skype:#00A6E4,
    )
);
